.task-wrapper {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 1.5em;
  border-bottom: solid #222 1.5px;
  margin-bottom: 0.75em;
}

.datum {
  display: inline-block;
  flex-grow: 1;
  padding: 0.25em;
}

.task, .hazard, .control {
  flex-basis: 100%;
}

.label {
  display: block;
  font-weight: bold;
  color: #444;
  margin-bottom: 0.33em;
}

.data {
  display: block;
  padding: 0 1em;
  white-space: pre;
}

.card-footer {
  text-align: right;
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
}

textarea {
  resize: none;
  height: 6em;
}

label {
  color: #444;
  margin-top: 0.5em;
}
