<div class="card">
  <div class="card-body">
    <div class="task-wrapper">
      <div class="datum place">
        <span class="label">Location</span>
        <span class="data">{{task.place}}</span>
      </div>
      <div class="datum equipment">
        <span class="label">Equipment</span>
        <span class="data">{{task.equipment}}</span>
      </div>
      <div class="datum task">
        <span class="label">Task - {{task.name}}</span>
        <span class="data">{{task.desc}}</span>
      </div>
    </div>
    <div>
      <label for="name">Hazard Title</label>
      <div class="input-group">
        <input type="text" class="form-control" id="name" [(ngModel)]="hazard.name" />
      </div>
      <label for="severity">Hazard Severity</label>
      <div class="input-group">
        <select class="custom-select" id="severity" [(ngModel)]="hazard.severity">
          <option *ngFor="let level of severityMap; index as i" [value]="i">{{level.text}}</option>
        </select>
      </div>
    </div>
    <label for="description">Description</label>
    <div class="input-group">
      <textarea type="text" class="form-control" id="description" [(ngModel)]="hazard.hazard"></textarea>
    </div>
    <label for="control">Hazard Controls</label>
    <div class="input-group">
      <textarea type="text" class="form-control" id="control" [(ngModel)]="hazard.control"></textarea>
    </div>
    <label for="author">Author</label>
    <div class="input-group">
      <input type="text" class="form-control" id="author" [(ngModel)]="hazard.createdBy" />
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-link" type="button" (click)="cancel()">Cancel</button>
    <button class="btn btn-link" type="button" (click)="submit()">Submit</button>
  </div>
</div>
