<div class="header">
  <button type="button" class="btn btn-primary" routerLink="/tasks">View Tasks</button>
  <button *ngIf="task !== undefined" type="button" class="btn btn-primary" [routerLink]="'/hazards/new/' + task">Add Hazard</button>
</div>
<div id="hazard-list" class="accordion">
  <app-hazard-list-item *ngFor="let hazard of data" [data]="hazard" [parentId]="'hazard-list'" (destroyed)="removeItem($event)"></app-hazard-list-item>
</div>
