<div class="header">
  <button class="btn btn-primary" routerLink="/tasks/new">Add New Task</button>
  <button class="btn btn-primary" routerLink="/hazards">View Hazards</button>
</div>
<div id="task-list" class="accordion">
  <app-task-list-item *ngFor="let task of data" [data]="task" [parentId]="'task-list'" (destroyed)="removeItem($event)"></app-task-list-item>
</div>
