<div class="card">
  <div class="card-header" data-toggle="collapse" [attr.data-target]="'#collapse-' + data.id">
    <span>{{data.name}}</span>
    <app-severity-icon [index]=data.severity></app-severity-icon>
  </div>
  <div [id]="'collapse-' + data.id" class="collapse" [attr.data-parent]="'#' + parentId">
    <div class="card-body">
      <div class="datum place">
        <span class="label">Location</span>
        <span class="data">{{data.task.place}}</span>
      </div>
      <div class="datum equipment">
        <span class="label">Equipment</span>
        <span class="data">{{data.task.equipment}}</span>
      </div>
      <div class="datum task">
        <span class="label">Task - {{data.task.name}}</span>
        <span class="data">{{data.task.desc}}</span>
      </div>
      <div class="datum hazard">
        <span class="label">Hazard Description</span>
        <span class="data">{{data.hazard}}</span>
      </div>
      <div class="datum control">
        <span class="label">Controls</span>
        <span class="data">{{data.control}}</span>
      </div>
      <div class="datum author">
        <span class="label">Recorded By</span>
        <span class="data">{{data.createdBy}}</span>
      </div>
      <div class="datum date">
        <span class="label">Last Updated</span>
        <span class="data">{{data.updatedAt | date:'mediumDate'}}</span>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-link" type="button" [routerLink]="'/hazards/view/' + data.id">Edit</button>
      <button class="btn btn-link" type="button" title="Delete Hazard" (click)="delete()">Delete</button>
    </div>
  </div>
</div>
