<div class="card">
  <div class="card-body">
    <label for="place">Facility</label>
    <div class="input-group">
      <input type="text" class="form-control" id="place" [(ngModel)]="task.place" />
    </div>
    <label for="equipment">Equipment</label>
    <div class="input-group">
      <input type="text" class="form-control" id="equipment" [(ngModel)]="task.equipment" />
    </div>
    <label for="name">Task Title</label>
    <div class="input-group">
      <input type="text" class="form-control" id="name" [(ngModel)]="task.name" />
    </div>
    <label for="desc">Description</label>
    <div class="input-group">
      <textarea type="text" class="form-control" id="desc" [(ngModel)]="task.desc"></textarea>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-link" type="button" routerLink="/tasks">Cancel</button>
    <button class="btn btn-link" type="button" (click)="submit()">Submit</button>
  </div>
</div>
