<div class="card">
  <div class="card-header" data-toggle="collapse" [attr.data-target]="'#collapse-' + data.id">
    <span>{{data.name}}</span>
  </div>
  <div [id]="'collapse-' + data.id" class="collapse" [attr.data-parent]="'#' + parentId">
    <div class="card-body">
      <div class="datum place">
        <span class="label">Location</span>
        <span class="data">{{data.place}}</span>
      </div>
      <div class="datum equipment">
        <span class="label">Equipment</span>
        <span class="data">{{data.equipment}}</span>
      </div>
      <div class="datum task">
        <span class="label">Description</span>
        <span class="data">{{data.desc}}</span>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-link" type="button" [routerLink]="'/hazards/for/' + data.id">View Hazards</button>
      <button class="btn btn-link" type="button" [routerLink]="'/hazards/new/' + data.id">Add Hazard</button>
      <button class="btn btn-link" type="button" [routerLink]="'/tasks/view/' + data.id">Edit</button>
      <button class="btn btn-link" type="button" (click)="delete()">Delete</button>
    </div>
  </div>
</div>
