.card-header {
  cursor: pointer;
}

.card-header span {
  font-size: 1.33em;
}

.card-body {
  display: flex;
  flex-flow: row wrap;
}

.datum {
  display: inline-block;
  flex-grow: 1;
  padding: 0.25em;
}

.task {
  flex-basis: 100%;
}

.label {
  display: block;
  font-weight: bold;
  color: #444;
  margin-bottom: 0.33em;
}

.data {
  display: block;
  padding: 0 1em;
  white-space: pre-wrap;
}

.card-footer {
  text-align: right;
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
}